<h3 class="first">Login</h3>
<div class="ui-g ui-fluid wrap-login100 .p-l-85">
    <div class="ui-g-36 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input type="text" pInputText placeholder="Username">         
        </div>
    </div>
    <div class="ui-g ui-g-36 ui-md-4">
      <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-key"></i></span>
          <input  pInputText placeholder="Password" type="password"> 
      </div>
  </div>
</div>

